.form-window{
    box-sizing: border-box;
    width: 630px;
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
    border-radius: 10px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    margin: auto;

    @media (min-width: $screen-md) {
        padding: 70px 115px;
    }

    .form-window__title{
        font-family: Exo 2;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.4px;
        color: $color-main;
        margin-bottom: 30px;
    }

    .pass--recovery{
        display: flex;
        justify-content: flex-end;
        font-size: $font-size--xsm;
        margin-top: -15px;
        color: $text-color;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

.input-wrap__row{
    display: flex;
    justify-content: space-between;

    input{
        width: 100%;
    }
}

.input-wrap__label{
    display: flex;
    justify-content: flex-start;
}
.checkbox-wrap{
    padding-bottom: 15px;

    p,
    a{
        font-weight: 300;
    }
}

input,
select,
.form-control{
    width: 100%;
    padding: 13px 11px;
    margin-bottom: 25px;
    box-sizing: border-box;
    font-size: $font-size--xsm;
    background: $background-input-color;
    border: 2px solid #F2F2F2;
    border-radius: 2px;

    /*&:last-of-type{
        margin-bottom: 0;
    }*/

    &:placeholder-shown{
        color: $color-gray;
        font-family: $main-font;
        font-size: $font-size--xsm;
        opacity: .57;
    }

    &:active,
    &:focus{
        outline: none;
        border-left: 2px solid $color-blue;
        background: $color-white;
    }

    &.checkbox{
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: auto;

        &+label{
            display: flex;
            align-items: center;

            p{  
                padding-right: 10px;
            }
        }

        &+label::before{
            content: '';
            display: inline-block;
            width: 24px;
            height: 26px;
            flex-shrink: 0;
            flex-grow: 0;
            background: #FFFFFF;
            border: 2px solid #F2F2F2;
            border-radius: 2px;
            margin-right: 0.5em;
        }

        &:checked+label::before {
            background: rgba(245, 247, 250, 0.5);
            border: 2px solid #F2F2F2;
            border-radius: 2px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuMTg0NjE1IDcuNzA1MjdDMC4wNjE1Mzg1IDcuNTgyMTkgMCA3LjM5NzU3IDAgNy4yNzQ1QzAgNy4xNTE0MiAwLjA2MTUzODUgNi45NjY4IDAuMTg0NjE1IDYuODQzNzNMMS4wNDYxNSA1Ljk4MjE5QzEuMjkyMzEgNS43MzYwMyAxLjY2MTU0IDUuNzM2MDMgMS45MDc2OSA1Ljk4MjE5TDEuOTY5MjMgNi4wNDM3M0w1LjM1Mzg1IDkuNjc0NUM1LjQ3NjkyIDkuNzk3NTcgNS42NjE1NCA5Ljc5NzU3IDUuNzg0NjIgOS42NzQ1TDE0LjAzMDggMS4xMjA2NUgxNC4wOTIzQzE0LjMzODUgMC44NzQ0OTcgMTQuNzA3NyAwLjg3NDQ5NyAxNC45NTM4IDEuMTIwNjVMMTUuODE1NCAxLjk4MjE5QzE2LjA2MTUgMi4yMjgzNCAxNi4wNjE1IDIuNTk3NTcgMTUuODE1NCAyLjg0MzczTDUuOTY5MjMgMTMuMDU5MUM1Ljg0NjE1IDEzLjE4MjIgNS43MjMwOCAxMy4yNDM3IDUuNTM4NDYgMTMuMjQzN0M1LjM1Mzg1IDEzLjI0MzcgNS4yMzA3NyAxMy4xODIyIDUuMTA3NjkgMTMuMDU5MUwwLjMwNzY5MiA3Ljg4OTg4TDAuMTg0NjE1IDcuNzA1MjdaIiBmaWxsPSIjMEFENjlDIi8+Cjwvc3ZnPg==);
          }
    }

    .checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &::before{
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
      }
}

.button{
    width: 100%;
}

.button__wrap{
    display: flex;
    justify-content: flex-end;
}

button.submit{
    background-color: $color-green;
    color: $color-white;
    padding: 10px 50px;
    font-family: $title-font;
    font-size: $font-size;
    border-radius: $border-radius;
    outline: none;
    border: none;
    margin-top: 20px;
}

.indicator{
    height: 10px;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
    display: none;
    margin-top: -20px;
    margin-bottom: 20px;
}

.indicator span{
    position: relative;
    height: 100%;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}

.indicator span:nth-child(2){
    margin: 0 3px;
}

.indicator span.active:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.indicator span.weak:before{
    background-color: #ff4757;
}

#errorBlock {
    color: #ff4757;
    font-size: $font-size--xsm;
}

.indicator span.medium:before,
.indicator span.orange:before{
    background-color: orange;
}

.indicator span.strong:before,
.indicator span.green:before{
    background-color: #23ad5c;
}