$background-color: #F9FAFC;

$color-main:                  #002396;
$color-dark-blue:             #01134E;
$color-blue:                  #2A74DB;
$color-green:                 #0AD69C;
$color-white:                 #ffffff;
$color-gray:                  rgba(135,144,167,0.57);
$color-light-gray:            #CCD0DC;
$color-gray-border:           #E7EAF5;
$color-black:                 #000000;
 
$text-color:                  #222428;
$label-color:                #546087;
$background-input-color:      #FCFCFC;

$border-radius:               3px;
 
$font-size:                   1rem;
$font-size--h1:               3rem;
$font-size--sm:               0.875rem;
$font-size--xsm:              0.75rem;
 
$line-height:                 1.375em;
 
$title-font:                 'Exo 2', Arial, sans-serif;
$main-font:                  'Roboto', Arial, sans-serif;
 
$max-width:                   1160px;

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;